.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    flex-direction: column;
    text-align: center;
    background-color: #ffdee9;
    background-image: linear-gradient(0deg, #dddee9 0%, #b5fffc 100%);
}
.form-container form{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    background-color: #fff;
}
.form-container form .title{
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: 'Playfair Display',serif;
}
.form-container form input{
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 5px;
}

.form-container form button{
    border: 1ps solid black;
    border-radius: 0;
    background-color: black;
    color: white;
    width: 250px;
    margin: 10px 0;
}
.form-container form button:hover{
    border: 1px solid black;
    background-color: black;
    background: -webkit-linear-gradient(to right,
    #434343,black);
    background-color: linear-gradient(to right,#434343,black);
}